.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 20%;
  padding-right: 20%;
}

.modal-body {
  padding: 2rem;
  border-radius: 5px;
  background: #fff;
}
